{% extends 'instrument-type-fields.html' %}

{% block title %}Vitec Admin | Add Instrument{% endblock %}

{% block add_path %}
<a href="{% url 'service-order' so_number %}" class="breadcrumb-link">Service Order {{so_number}}</a> > 
{% endblock %}

{% block breadcrumb %}Add Instrument{% endblock %}

{% block page_title %}Add Instrument{% endblock %}

{% block form_buttons %}
<button type="submit" class="btn save-btn" name="save">Save</button>
<button type="submit" class="btn btn-secondary save-add-btn" name="save_and_add_another">Save and Add Another</button>
{% endblock %}