{% extends 'view-page.html' %}
{% load static %}

{% block even_more_custom_css %}
<link rel="stylesheet" href="{% static 'css/add_service_order_custom.css' %}?v={{ timestamp }}">
{% endblock %}

{% block title %}Vitec Admin | Add Service Order{% endblock %}

{% block breadcrumb %}Add Service Order{% endblock %}

{% block page_title %}Service Order {{so_number}} {% endblock %}

{% block add_btn_href %} {% url 'add-instrument' %} {% endblock %}

{% block add_btn_name %}Add Instrument{% endblock %}

{% block search_placeholder %} Search Instrument ID...{% endblock %}

{% block search_btn_name %}Search ID{% endblock %}


{% block additional-content %}
<form method="POST" id="id-form">
    {% csrf_token %}
    <div class="d-flex align-items-center mb-4 search-container p-2">
            <!-- Search Icon -->
            <div class="me-3 ms-2" id="search-addon">
                <img src="{% static 'images/search.png' %}" alt="Search" width="16" height="16">
            </div>
            <!-- Input Field -->
            <div class="me-3">
                <input type="text" class="custom-input form-control" name="instrument_id" id="instrument-input" placeholder="Add Instrument ID.." autofocus aria-label="Search" onpaste="handlePaste(event)" onkeydown="submitOnEnter(event)" aria-describedby="search-addon">
            </div>
            <!-- Add Button -->
            <div>
                <button type="submit" class="btn search-btn">Add ID</button>
            </div>
    </div>
</form>

{% endblock %}


{% block header_row %}
<th>ID</th>
<th>TYPE</th>
<th>MAKE</th>
<th>VALUES</th>
{% endblock %}

{% block data_rows %}
{% if is_full %}
    {% for instrument in page_obj %}
        <tr class="{% cycle 'row-light' 'row-dark' %}">
            <td><a href="{% url 'edit-instrument' instrument.id %}" class="table-row-link">{{ instrument.id }}</a></td>
            <td id="instrument_type{{ instrument.id }}">{{ instrument.instrument_type }}</td>
            <td>{{ instrument.make }}</td>
            <td>
                {% if instrument.instrument_type != "Pipette" %}
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#valuesModal{{ instrument.id }}">
                        Open
                    </button>

                    <!-- Modal for editing measured values -->
                    <div class="modal fade" id="valuesModal{{ instrument.id }}" tabindex="-1" id="valuesModal"
                         aria-labelledby="valuesModalLabel{{ instrument.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="valuesModalLabel{{ instrument.id }}">
                                        Edit Measured Values for {{ instrument.instrument_type }}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form method="POST" action="{% url 'update-instrument-values' instrument.id %}" id="valuesForm">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        {% if instrument.instrument_type == "RPM" %}
                                            <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                                <label for="rpm_test" class="col-sm-2 col-form-label custom-form-label">RPM Test:</label>
                                                <div class="col-auto plus_container_custom" >
                                                    <button type="button" class=" add-fields-btn"  id="toggleRpmButton{{ instrument.id }}">
                                                        <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
                                                    </button>
                                                </div>
                                                <div class="col-auto">
                                                    <input type="text" class="form-control custom-input sm-custom-input" id="rpmCountInput{{ instrument.id }}" placeholder="#RPM" style="display: none;">
                                                </div>
                                        
                                                <div class="col-auto d-flex" id="rpmTestFields{{ instrument.id }}">
                                                                                        
                                                    {% for rpm_test in instrument.rpm_test %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3 rpm-test-fields" value="{{rpm_test}}">
                                                    {% endfor %}    

                                                </div>

                                            <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                                <label for="rpm_actual" class="col-sm-2 col-form-label custom-form-label">RPM Actual:</label>
                                                <div class="col-auto d-flex" id="rpmActualFields{{ instrument.id }}">

                                                    {% for rpm_actual in instrument.rpm_actual %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3 rpm-test-fields" value="{{rpm_actual}}">
                                                    {% endfor %}

                                                </div>
                                            </div>

                                            <div class="row mb-4 pb-4 border-bottom custom-row align-items-center" id="formErrors{{ instrument.id }}">
                                            </div>  
                                                
                                            <!-- <div class="mb-3">
                                                <label for="rpm_test_{{ instrument.id }}">RPM Test</label>
                                                <input type="number" class="form-control"
                                                       name="rpm_test" id="rpm_test_{{ instrument.id }}"
                                                       value="{{ instrument.rpm_test }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="rpm_actual_{{ instrument.id }}">RPM Actual</label>
                                                <input type="number" class="form-control"
                                                       name="rpm_actual" id="rpm_actual_{{ instrument.id }}"
                                                       value="{{ instrument.rpm_actual }}">
                                            </div> -->
                                        {% elif instrument.instrument_type == "Temperature" %}
                                            <div class="mb-3">
                                                <label for="temperature_test_{{ instrument.id }}">Temperature Test</label>
                                                <input type="number" class="form-control"
                                                       name="temperature_test" id="temperature_test_{{ instrument.id }}"
                                                       value="{{ instrument.temperature_test }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="temperature_actual_{{ instrument.id }}">Temperature Actual</label>
                                                <input type="number" class="form-control"
                                                       name="temperature_actual" id="temperature_actual_{{ instrument.id }}"
                                                       value="{{ instrument.temperature_actual }}">
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </td>

        </tr>
    {% endfor %}
{% else %}
    <tr class="no-results-row">
        <td colspan="5" class="text-center">No matches found</td>
    </tr>
{% endif %}


<script src="{% static 'bootstrap/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/customAddServiceOrder.js' %}"></script>
{% endblock %}