{% extends 'instrument-form.html' %}
{% load static %}

{% block instrument_type_fields %} 

<!-- Pipette Fields-->
 <div id="pipette-fields" class="fields">

    <!-- Pipette Type -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center dropdown-container" data-dropdown-key="pipette_types">
        <label for="pipette_type" class="col-sm-2 col-form-label custom-form-label">Pipette Type:</label>
        <div class="col-auto">
            <!-- Dropdown for pipette tyoe with Bootstrap-Select -->
            <select class="selectpicker" data-style="custom-toggle" id="pipetteTypeSelect" name="pipette_type" data-live-search="true" title="Select Pipette Type" data-width="100%" data-size="5">
                <!-- Dynamically populated pipette type options -->
                {% for pipette in pipette_types %}
                    <option class="custom-dropdown" value="{{ pipette }}" {% if pipette_form.pipette_type.value == pipette %}selected{% endif %}>{{ pipette }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto plus_container_custom" id="urls" data-add-dropdown-option-url="{% url 'add-dropdown-option' %}" data-csrf="{{ csrf_token }}">
            <button class=" add-option-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control new-option-input custom-input" style="display: none;">
        </div>
            <!-- Display validation errors -->
            {% if pipette_form.pipette_type.errors %}
                <div class="text-danger dropdown-error-custom ">
                    {{ pipette_form.pipette_type.errors|join:", " }}
                </div>
            {% endif %}
        
    </div>

     <!-- Volume -->
     <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="volume" class="col-sm-2 col-form-label custom-form-label">Volume:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input" id="volume" name="volume" value="{{ pipette_form.volume.value| default:'' }}">
            {% if pipette_form.volume.errors %}
                <div class="text-danger">
                    {{ pipette_form.volume.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- RPM Fields-->
<div id="rpm-fields" class="fields">

    <!-- RPM Type-->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center dropdown-container" data-dropdown-key="rpm_types">
        <label for="rpm_type" class="col-sm-2 col-form-label custom-form-label">RPM Type:</label>
        <div class="col-auto">
            <!-- Dropdown for rpm type with Bootstrap-Select -->
            <select class="selectpicker" data-style="custom-toggle" id="rpmTypeSelect" name="rpm_type" data-live-search="true" title="Select RPM Type" data-width="100%" data-size="5">
                <!-- Dynamically populated rpm type options -->
                {% for rpm in rpm_types %}
                    <option class="custom-dropdown" value="{{ rpm }}" {% if rpm_form.rpm_type.value == rpm %}selected{% endif %}>{{ rpm }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto plus_container_custom" id="urls" data-add-dropdown-option-url="{% url 'add-dropdown-option' %}" data-csrf="{{ csrf_token }}">
            <button class=" add-option-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control new-option-input custom-input" style="display: none;">
        </div>
            <!-- Display validation errors -->
            {% if rpm_form.rpm_type.errors %}
                <div class="text-danger dropdown-error-custom ">
                    {{ rpm_form.rpm_type.errors|join:", " }}
                </div>
            {% endif %}
        
    </div>

    <!-- Model -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="rpm_model" class="col-sm-2 col-form-label custom-form-label">Model:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input" id="rpm_model" name="rpm_model" value="{{ rpm_form.rpm_model.value | default:'' }}">
            {% if rpm_form.rpm_model.errors %}
                <div class="text-danger">
                    {{ rpm_form.rpm_model.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- RPM Test -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="rpm_test" class="col-sm-2 col-form-label custom-form-label">RPM Test:</label>
        <div class="col-auto plus_container_custom" id="toggleRpmButton" >
            <button class=" add-fields-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control custom-input sm-custom-input" id="rpmCountInput" placeholder="#RPM" style="display: none;">
        </div>

        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="rpmTestFields">

            {% for rpm_test in rpm_test_values %}
            <input type="text" class="form-control custom-input rpm-custom-size me-3 rpm-test-fields" value="{{rpm_test}}">
            {% endfor %}  
        </div>

        {% if rpm_form.rpm_test.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in rpm_form.rpm_test.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
        
    </div>

     <!-- RPM Actual -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="rpm_actual" class="col-sm-2 col-form-label custom-form-label">RPM Actual:</label>
        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="rpmActualFields">

            {% for rpm_actual in rpm_actual_values %}
                <input type="text" class="form-control custom-input rpm-custom-size me-3 rpm-test-fields" value="{{rpm_actual}}">
            {% endfor %}    
        </div>

        {% if rpm_form.rpm_actual.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in rpm_form.rpm_actual.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>


    <!-- Timer Test -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="timer_test" class="col-sm-2 col-form-label custom-form-label">Timer Test:</label>
        <div class="col-auto plus_container_custom" id="toggleRPMTimerButton" >
            <button class=" add-fields-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control custom-input sm-custom-input" id="rpmTimerCountInput" placeholder="#times" style="display: none;">
        </div>

        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="rpmTimerTestFields">

            {% for timer_test in rpm_timer_test_values %}
            <input type="text" class="form-control custom-input rpm-custom-size me-3 timer-test-fields" value="{{timer_test}}">
            {% endfor %}  
        </div>

        {% if rpm_form.timer_test.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in rpm_form.timer_test.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

     <!-- Timer Actual -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="timer_actual" class="col-sm-2 col-form-label custom-form-label">Timer Actual:</label>
        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="rpmTimerActualFields">

            {% for timer_actual in rpm_timer_actual_values %}
                <input type="text" class="form-control custom-input rpm-custom-size me-3 timer-test-fields" value="{{timer_actual}}">
            {% endfor %}    
        </div>

        {% if rpm_form.timer_actual.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in rpm_form.timer_actual.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    



</div>


<!-- Temperature Fields-->
<div id="temperature-fields" class="fields">

    <!-- Temperature Type-->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center dropdown-container" data-dropdown-key="temperature_types">
        <label for="temperature_type" class="col-sm-2 col-form-label custom-form-label">Temperature Type:</label>
        <div class="col-auto">
            <!-- Dropdown for temperature type with Bootstrap-Select -->
            <select class="selectpicker" data-style="custom-toggle" id="temperatureTypeSelect" name="temperature_type" data-live-search="true" data-temperature-type="{{temperature_form.temperature_type.value}}" title="Select Temperature Type" data-width="100%" data-size="5">
                <!-- Dynamically populated temperature type options -->
                {% for temperature in temperature_types %}
                    <option class="custom-dropdown" value="{{ temperature }}" {% if temperature_form.temperature_type.value == temperature %}selected{% endif %}>{{ temperature }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto plus_container_custom" id="urls" data-add-dropdown-option-url="{% url 'add-dropdown-option' %}" data-csrf="{{ csrf_token }}">
            <button class=" add-option-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control new-option-input custom-input" style="display: none;">
        </div>
            <!-- Display validation errors -->
            {% if temperature_form.temperature_type.errors %}
                <div class="text-danger dropdown-error-custom ">
                    {{ temperature_form.temperature_type.errors|join:", " }}
                </div>
            {% endif %}
        
    </div>

    <!-- Model -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="temperature_model" class="col-sm-2 col-form-label custom-form-label">Model:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input" id="temperature_model" name="temperature_model" value="{{ temperature_form.temperature_model.value | default:'' }}">
            {% if temperature_form.temperature_model.errors %}
                <div class="text-danger">
                    {{ temperature_form.temperature_model.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Temperature Test -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="temperature_test" class="col-sm-2 col-form-label custom-form-label">Temperature Test:</label>
        <div class="col-auto plus_container_custom" id="toggleTemperatureButton" >
            <button class=" add-fields-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control custom-input sm-custom-input" id="temperatureCountInput" placeholder="#temp" style="display: none;">
        </div>

        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="temperatureTestFields">

            {% for temperature_test in temperature_test_values %}
            <input type="text" class="form-control custom-input rpm-custom-size me-3 temperature-test-fields" value="{{temperature_test}}">
            {% endfor %}  
        </div>

        {% if temperature_form.temperature_test.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in temperature_form.temperature_test.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

        <!-- Temperature Actual -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="temperature_actual" class="col-sm-2 col-form-label custom-form-label">Temperature Actual:</label>
        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="temperatureActualFields">

            {% for temperature_actual in temperature_actual_values %}
                <input type="text" class="form-control custom-input rpm-custom-size me-3 temperature-actual-fields" value="{{temperature_actual}}">
            {% endfor %}    
        </div>

        {% if temperature_form.temperature_actual.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in temperature_form.temperature_actual.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div id="humidity-fields" class="fields">
        <!-- Humidity Test -->
        <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
            <label for="humidity_test" class="col-sm-2 col-form-label custom-form-label">Humidity Test:</label>
            <div class="col-sm-3 ">
                <input type="text" class="form-control custom-input sm-custom-input" id="humidity_test" name="humidity_test" value="{{ temperature_form.humidity_test.value| default:'' }}">
                {% if temperature_form.humidity_test.errors %}
                    <div class="text-danger">
                        {{ temperature_form.humidity_test.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Humidity Actual -->
        <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
            <label for="humidity_actual" class="col-sm-2 col-form-label custom-form-label">Humidity Actual:</label>
            <div class="col-sm-3 ">
                <input type="text" class="form-control custom-input sm-custom-input" id="humidity_actual" name="humidity_actual" value="{{ temperature_form.humidity_actual.value| default:'' }}">
                {% if temperature_form.humidity_actual.errors %}
                    <div class="text-danger">
                        {{ temperature_form.humidity_actual.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>





<!-- Microscope Fields-->
<div id="microscope-fields" class="fields">

    <!-- Microscope Type -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center dropdown-container" data-dropdown-key="microscope_types">
        <label for="microscope_type" class="col-sm-2 col-form-label custom-form-label">Microscope Type:</label>
        <div class="col-auto">
            <!-- Dropdown for microscope type with Bootstrap-Select -->
            <select class="selectpicker" data-style="custom-toggle" id="microscopeTypeSelect" name="microscope_type" data-live-search="true" title="Select Microscope Type" data-width="100%" data-size="5">
                <!-- Dynamically populated microscope type options -->
                {% for microscope in microscope_types %}
                    <option class="custom-dropdown" value="{{ microscope }}" {% if microscope_form.microscope_type.value == microscope %}selected{% endif %}>{{ microscope }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto plus_container_custom" id="urls" data-add-dropdown-option-url="{% url 'add-dropdown-option' %}" data-csrf="{{ csrf_token }}">
            <button class=" add-option-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control new-option-input custom-input" style="display: none;">
        </div>
            <!-- Display validation errors -->
            {% if microscope_form.microscope_type.errors %}
                <div class="text-danger dropdown-error-custom ">
                    {{ microscope_form.microscope_type.errors|join:", " }}
                </div>
            {% endif %}
    </div>


    <!-- Model -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="microscope_model" class="col-sm-2 col-form-label custom-form-label">Model:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input" id="microscope_model" name="microscope_model" value="{{ microscope_form.microscope_model.value | default:'' }}">
            {% if microscope_form.microscope_model.errors %}
                <div class="text-danger">
                    {{ microscope_form.microscope_model.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div> 
</div>



<!-- Timer Fields-->
<div id="timer-fields" class="fields">

    <!-- Timer Type-->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center dropdown-container" data-dropdown-key="timer_types">
        <label for="timer_type" class="col-sm-2 col-form-label custom-form-label">Timer Type:</label>
        <div class="col-auto">
            <!-- Dropdown for timer type with Bootstrap-Select -->
            <select class="selectpicker" data-style="custom-toggle" id="timerTypeSelect" name="timer_type" data-live-search="true" title="Select Timer Type" data-width="100%" data-size="5">
                <!-- Dynamically populated rpm type options -->
                {% for timer in timer_types %}
                    <option class="custom-dropdown" value="{{ timer }}" {% if timer_form.timer_type.value == timer %}selected{% endif %}>{{ timer }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto plus_container_custom" id="urls" data-add-dropdown-option-url="{% url 'add-dropdown-option' %}" data-csrf="{{ csrf_token }}">
            <button class=" add-option-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control new-option-input custom-input" style="display: none;">
        </div>
            <!-- Display validation errors -->
            {% if timer_form.timer_type.errors %}
                <div class="text-danger dropdown-error-custom ">
                    {{ timer_form.timer_type.errors|join:", " }}
                </div>
            {% endif %}
        
    </div>

    <!-- Model -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="timer_model" class="col-sm-2 col-form-label custom-form-label">Model:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input" id="timer_model" name="timer_model" value="{{ timer_form.timer_model.value | default:'' }}">
            {% if timer_form.timer_model.errors %}
                <div class="text-danger">
                    {{ timer_form.timer_model.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Timer Test -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="timer_test" class="col-sm-2 col-form-label custom-form-label">Timer Test:</label>
        <div class="col-auto plus_container_custom" id="toggleTimerButton" >
            <button class=" add-fields-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control custom-input sm-custom-input" id="timerCountInput" placeholder="#times" style="display: none;">
        </div>

        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="timerTestFields">

            {% for timer_test in timer_test_values %}
            <input type="text" class="form-control custom-input rpm-custom-size me-3 timer-test-fields" value="{{timer_test}}">
            {% endfor %}  
        </div>

        {% if timer_form.timer_test.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in timer_form.timer_test.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

     <!-- Timer Actual -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="timer_actual" class="col-sm-2 col-form-label custom-form-label">Timer Actual:</label>
        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="timerActualFields">

            {% for timer_actual in timer_actual_values %}
                <input type="text" class="form-control custom-input rpm-custom-size me-3 timer-test-fields" value="{{timer_actual}}">
            {% endfor %}    
        </div>

        {% if timer_form.timer_actual.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in timer_form.timer_actual.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>



<!-- ThermoRPM Fields-->
<div id="thermoRPM-fields" class="fields">

    <!-- RPM Type-->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center dropdown-container" data-dropdown-key="thermoRPM_types">
        <label for="rpm_type" class="col-sm-2 col-form-label custom-form-label">ThermoRPM Type:</label>
        <div class="col-auto">
            <!-- Dropdown for rpm type with Bootstrap-Select -->
            <select class="selectpicker" data-style="custom-toggle" id="thermoRPMTypeSelect" name="thermoRPM_type" data-live-search="true" title="Select ThermoRPM Type" data-width="100%" data-size="5">
                <!-- Dynamically populated rpm type options -->
                {% for thermoRPM in thermoRPM_types %}
                    <option class="custom-dropdown" value="{{ thermoRPM }}" {% if thermoRPM_form.thermoRPM_type.value == thermoRPM %}selected{% endif %}>{{ thermoRPM }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto plus_container_custom" id="urls" data-add-dropdown-option-url="{% url 'add-dropdown-option' %}" data-csrf="{{ csrf_token }}">
            <button class=" add-option-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control new-option-input custom-input" style="display: none;">
        </div>
            <!-- Display validation errors -->
            {% if thermoRPM_form.thermoRPM_type.errors %}
                <div class="text-danger dropdown-error-custom ">
                    {{ thermoRPM_form.thermoRPM_type.errors|join:", " }}
                </div>
            {% endif %}
        
    </div>

    <!-- Model -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="thermoRPM_model" class="col-sm-2 col-form-label custom-form-label">Model:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input" id="thermoRPM_model" name="thermoRPM_model" value="{{ thermoRPM_form.thermoRPM_model.value | default:'' }}">
            {% if thermoRPM_form.thermoRPM_model.errors %}
                <div class="text-danger">
                    {{ thermoRPM_form.thermoRPM_model.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- RPM Test -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="thermoRPM_test" class="col-sm-2 col-form-label custom-form-label">RPM Test:</label>
        <div class="col-auto plus_container_custom" id="toggleThermoRpmButton" >
            <button class=" add-fields-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control custom-input sm-custom-input" id="thermoRPMCountInput" placeholder="#RPM" style="display: none;">
        </div>

        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="thermoRPMTestFields">

            {% for rpm_test in thermoRPM_rpm_test_values %}
            <input type="text" class="form-control custom-input rpm-custom-size me-3 rpm-test-fields" value="{{rpm_test}}">
            {% endfor %}  
        </div>

        {% if thermoRPM_form.rpm_test.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in thermoRPM_form.rpm_test.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
        
    </div>

     <!-- RPM Actual -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="thermoRPM_actual" class="col-sm-2 col-form-label custom-form-label">RPM Actual:</label>
        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="thermoRPMActualFields">

            {% for rpm_actual in thermoRPM_rpm_actual_values %}
                <input type="text" class="form-control custom-input rpm-custom-size me-3 rpm-test-fields" value="{{rpm_actual}}">
            {% endfor %}    
        </div>

        {% if thermoRPM_form.rpm_actual.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in thermoRPM_form.rpm_actual.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Temperature Test -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="thermoRPM_temperature_test" class="col-sm-2 col-form-label custom-form-label">Temperature Test:</label>
        <div class="col-auto plus_container_custom" id="toggleThermoRPMTemperatureButton" >
            <button class=" add-fields-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control custom-input sm-custom-input" id="thermoRPMTemperatureCountInput" placeholder="#temp" style="display: none;">
        </div>

        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="thermoRPMTemperatureTestFields">

            {% for temperature_test in thermoRPM_temperature_test_values %}
            <input type="text" class="form-control custom-input rpm-custom-size me-3 temperature-test-fields" value="{{temperature_test}}">
            {% endfor %}  
        </div>

        {% if thermoRPM_form.temperature_test.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in thermoRPM_form.temperature_test.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Temperature Actual -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="thermoRPM_temperature_actual" class="col-sm-2 col-form-label custom-form-label">Temperature Actual:</label>
        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="thermoRPMTemperatureActualFields">

            {% for temperature_actual in thermoRPM_temperature_actual_values %}
                <input type="text" class="form-control custom-input rpm-custom-size me-3 temperature-actual-fields" value="{{temperature_actual}}">
            {% endfor %}    
        </div>

        {% if thermoRPM_form.temperature_actual.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in thermoRPM_form.temperature_actual.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>


    <!-- Timer Test -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="thermoRPM_timer_test" class="col-sm-2 col-form-label custom-form-label">Timer Test:</label>
        <div class="col-auto plus_container_custom" id="togglethermoRPMTimerButton" >
            <button class=" add-fields-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control custom-input sm-custom-input" id="thermoRPMTimerCountInput" placeholder="#times" style="display: none;">
        </div>

        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="thermoRPMTimerTestFields">

            {% for timer_test in thermoRPM_timer_test_values %}
            <input type="text" class="form-control custom-input rpm-custom-size me-3 timer-test-fields" value="{{timer_test}}">
            {% endfor %}  
        </div>

        {% if thermoRPM_form.timer_test.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in thermoRPM_form.timer_test.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

     <!-- Timer Actual -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="thermoRPM_timer_actual" class="col-sm-2 col-form-label custom-form-label">Timer Actual:</label>
        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="thermoRPMTimerActualFields">

            {% for timer_actual in thermoRPM_timer_actual_values %}
                <input type="text" class="form-control custom-input rpm-custom-size me-3 timer-test-fields" value="{{timer_actual}}">
            {% endfor %}    
        </div>

        {% if thermoRPM_form.timer_actual.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in thermoRPM_form.timer_actual.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

</div>



<!-- Balance Fields-->
<div id="balance-fields" class="fields">

    <!-- Balance Type-->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center dropdown-container" data-dropdown-key="balance_types">
        <label for="balance_type" class="col-sm-2 col-form-label custom-form-label">Balance Type:</label>
        <div class="col-auto">
            <!-- Dropdown for balance type with Bootstrap-Select -->
            <select class="selectpicker" data-style="custom-toggle" id="balanceTypeSelect" name="balance_type" data-live-search="true" title="Select Balance Type" data-width="100%" data-size="5">
                <!-- Dynamically populated rpm type options -->
                {% for balance in balance_types %}
                    <option class="custom-dropdown" value="{{ balance }}" {% if balance_form.balance_type.value == balance %}selected{% endif %}>{{ balance }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto plus_container_custom" id="urls" data-add-dropdown-option-url="{% url 'add-dropdown-option' %}" data-csrf="{{ csrf_token }}">
            <button class=" add-option-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control new-option-input custom-input" style="display: none;">
        </div>
            <!-- Display validation errors -->
            {% if balance_form.balance_type.errors %}
                <div class="text-danger dropdown-error-custom ">
                    {{ balance_form.balance_type.errors|join:", " }}
                </div>
            {% endif %}
        
    </div>

    <!-- Model -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="balance_model" class="col-sm-2 col-form-label custom-form-label">Model:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input" id="balance_model" name="balance_model" value="{{ balance_form.balance_model.value | default:'' }}">
            {% if balance_form.balance_model.errors %}
                <div class="text-danger">
                    {{ balance_form.balance_model.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>


    <!-- Unit Type-->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center" data-dropdown-key="unit_types">
        <label for="unit_type" class="col-sm-2 col-form-label custom-form-label">Unit Type:</label>
        <div class="col-auto">
            <!-- Dropdown for unit type with Bootstrap-Select -->
            <select class="selectpicker" data-style="custom-toggle" id="unitTypeSelect" name="unit_type" title="Select Unit Type" data-width="100%" data-size="5">
                <!-- Dynamically populated rpm type options -->
                {% for unit in unit_types %}
                    <option class="custom-dropdown" value="{{ unit }}" {% if balance_form.unit_type.value == unit %}selected{% endif %}>{{ unit }}</option>
                {% endfor %}
            </select>
        </div>
            <!-- Display validation errors -->
            {% if balance_form.unit_type.errors %}
                <div class="text-danger dropdown-error-custom ">
                    {{ balance_form.unit_type.errors|join:", " }}
                </div>
            {% endif %}
        
    </div>

    <!-- Weight Test -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="weight_test" class="col-sm-2 col-form-label custom-form-label">Weight Test:</label>
        <div class="col-auto plus_container_custom" id="toggleWeightButton" >
            <button class=" add-fields-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control custom-input sm-custom-input" id="weightCountInput" placeholder="#input" style="display: none;">
        </div>

        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="weightTestFields">

            {% for weight_test in weight_test_values %}
            <input type="text" class="form-control custom-input rpm-custom-size me-3 timer-test-fields" value="{{weight_test}}">
            {% endfor %}  
        </div>

        {% if balance_form.weight_test.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in balance_form.weight_test.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

     <!-- Weight Actual -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="weight_actual" class="col-sm-2 col-form-label custom-form-label">Weight Actual:</label>
        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="weightActualFields">

            {% for weight_actual in weight_actual_values %}
                <input type="text" class="form-control custom-input rpm-custom-size me-3 timer-test-fields" value="{{weight_actual}}">
            {% endfor %}    
        </div>

        {% if balance_form.weight_actual.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in balance_form.weight_actual.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>


<!-- pH Meter Fields-->
<div id="pH-meter-fields" class="fields">

    <!-- Model -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="pH_meter_model" class="col-sm-2 col-form-label custom-form-label">Model:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input" id="pH_meter_model" name="pH_meter_model" value="{{ pH_meter_form.pH_meter_model.value | default:'' }}">
            {% if pH_meter_form.pH_meter_model.errors %}
                <div class="text-danger">
                    {{ pH_meter_form.pH_meter_model.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- pH4 Test -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="pH4_test" class="col-sm-2 col-form-label custom-form-label">pH4 Test:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input sm-custom-input" id="pH4_test" name="pH4_test" value="{{ pH_meter_form.pH4_test.value| default:'' }}">
            {% if pH_meter_form.pH4_test.errors %}
                <div class="text-danger">
                    {{ pH_meter_form.pH4_test.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- pH4 Actual -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="pH4_actual" class="col-sm-2 col-form-label custom-form-label">pH4 Actual:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input sm-custom-input" id="pH4_actual" name="pH4_actual" value="{{ pH_meter_form.pH4_actual.value| default:'' }}">
            {% if pH_meter_form.pH4_actual.errors %}
                <div class="text-danger">
                    {{ pH_meter_form.pH4_actual.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- pH7 Test -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="pH7_test" class="col-sm-2 col-form-label custom-form-label">pH7 Test:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input sm-custom-input" id="pH7_test" name="pH7_test" value="{{ pH_meter_form.pH7_test.value| default:'' }}">
            {% if pH_meter_form.pH7_test.errors %}
                <div class="text-danger">
                    {{ pH_meter_form.pH7_test.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- pH7 Actual -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="pH7_actual" class="col-sm-2 col-form-label custom-form-label">pH7 Actual:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input sm-custom-input" id="pH7_actual" name="pH7_actual" value="{{ pH_meter_form.pH7_actual.value| default:'' }}">
            {% if pH_meter_form.pH7_actual.errors %}
                <div class="text-danger">
                    {{ pH_meter_form.pH7_actual.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>


    <!-- pH10 Test -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="pH10_test" class="col-sm-2 col-form-label custom-form-label">pH10 Test:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input sm-custom-input" id="pH10_test" name="pH10_test" value="{{ pH_meter_form.pH10_test.value| default:'' }}">
            {% if pH_meter_form.pH10_test.errors %}
                <div class="text-danger">
                    {{ pH_meter_form.pH10_test.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- pH10 Actual -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="pH10_actual" class="col-sm-2 col-form-label custom-form-label">pH10 Actual:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input sm-custom-input" id="pH10_actual" name="pH10_actual" value="{{ pH_meter_form.pH10_actual.value| default:'' }}">
            {% if pH_meter_form.pH10_actual.errors %}
                <div class="text-danger">
                    {{ pH_meter_form.pH10_actual.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>

</div>






<!-- Airflow Fields-->
<div id="airflow-fields" class="fields">

    <!-- Airflow Type-->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center dropdown-container" data-dropdown-key="airflow_types">
        <label for="airflow_type" class="col-sm-2 col-form-label custom-form-label">Airflow Type:</label>
        <div class="col-auto">
            <!-- Dropdown for airflow type with Bootstrap-Select -->
            <select class="selectpicker" data-style="custom-toggle" id="airflowTypeSelect" name="airflow_type" data-live-search="true" title="Select Airflow Type"  data-airflow-type="{{airflow_form.airflow_type.value}}" data-width="100%" data-size="5">
                <!-- Dynamically populated airflow type options -->
                {% for airflow in airflow_types %}
                    <option class="custom-dropdown" value="{{ airflow }}" {% if airflow_form.airflow_type.value == airflow %}selected{% endif %}>{{ airflow }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto plus_container_custom" id="urls" data-add-dropdown-option-url="{% url 'add-dropdown-option' %}" data-csrf="{{ csrf_token }}">
            <button class=" add-option-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control new-option-input custom-input" style="display: none;">
        </div>
            <!-- Display validation errors -->
            {% if airflow_form.airflow_type.errors %}
                <div class="text-danger dropdown-error-custom ">
                    {{ airflow_form.airflow_type.errors|join:", " }}
                </div>
            {% endif %}
        
    </div>

    <!-- Model -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="airflow_model" class="col-sm-2 col-form-label custom-form-label">Model:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input" id="airflow_model" name="airflow_model" value="{{ airflow_form.airflow_model.value | default:'' }}">
            {% if airflow_form.airflow_model.errors %}
                <div class="text-danger">
                    {{ airflow_form.airflow_model.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>


    <!-- UV Light Test-->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center" data-dropdown-key="evaluation_types">
        <label for="uv_light_test" class="col-sm-2 col-form-label custom-form-label">UV Light Test:</label>
        <div class="col-auto">
            <!-- Dropdown for UV Light Test with Bootstrap-Select -->
            <select class="selectpicker" data-style="custom-toggle" id="uvLightTestSelect" name="uv_light_test" title="Select PASS/FAIL" data-width="100%" data-size="5">
                <!-- Dynamically populated options -->
                {% for evaluation in evaluation_types %}
                    <option class="custom-dropdown" value="{{ evaluation }}" {% if airflow_form.uv_light_test.value == evaluation %}selected{% endif %}>{{ evaluation }}</option>
                {% endfor %}
            </select>
        </div>
            <!-- Display validation errors -->
            {% if airflow_form.uv_light_test.errors %}
                <div class="text-danger dropdown-error-custom ">
                    {{ airflow_form.uv_light_test.errors|join:", " }}
                </div>
            {% endif %}
    </div>


    <!-- Filter Leak Test-->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center" data-dropdown-key="evaluation_types">
        <label for="filter_leak_test" class="col-sm-2 col-form-label custom-form-label">Filter Leak Test:</label>
        <div class="col-auto">
            <!-- Dropdown for Filter Leak Test with Bootstrap-Select -->
            <select class="selectpicker" data-style="custom-toggle" id="filterLeakTestSelect" name="filter_leak_test" title="Select PASS/FAIL" data-width="100%" data-size="5">
                <!-- Dynamically populated options -->
                {% for evaluation in evaluation_types %}
                    <option class="custom-dropdown" value="{{ evaluation }}" {% if airflow_form.filter_leak_test.value == evaluation %}selected{% endif %}>{{ evaluation }}</option>
                {% endfor %}
            </select>
        </div>
            <!-- Display validation errors -->
            {% if airflow_form.filter_leak_test.errors %}
                <div class="text-danger dropdown-error-custom ">
                    {{ airflow_form.filter_leak_test.errors|join:", " }}
                </div>
            {% endif %}
    </div>

    <!-- Downflow -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="downflow" class="col-sm-2 col-form-label custom-form-label">Downflow:</label>
        <div class="col-auto plus_container_custom" id="toggleDownflowButton" >
            <button class=" add-fields-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control custom-input sm-custom-input" id="downflowCountInput" placeholder="#input" style="display: none;">
        </div>

        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="downflowFields">

            {% for downflow in downflow_values %}
                <input type="text" class="form-control custom-input rpm-custom-size me-3 " value="{{downflow}}">
            {% endfor %}  
        </div>

        {% if airflow_form.downflow.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in airflow_form.downflow.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Inflow -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="inflow" class="col-sm-2 col-form-label custom-form-label">Inflow:</label>
        <div class="col-auto plus_container_custom" id="toggleInflowButton" >
            <button class=" add-fields-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control custom-input sm-custom-input" id="inflowCountInput" placeholder="#input" style="display: none;">
        </div>

        <div class="col-auto d-flex flex-wrap rpm_input_custom" id="inflowFields">

            {% for inflow in inflow_values %}
                <input type="text" class="form-control custom-input rpm-custom-size me-3" value="{{inflow}}">
            {% endfor %}  
        </div>

        {% if airflow_form.inflow.errors %}
            <div class="text-danger rpm-err-margin">
                {% for error in airflow_form.inflow.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div id="pcr-fields" class="fields">

        <!-- PCR Airflow -->
        <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
            <label for="pcr_airflow" class="col-sm-2 col-form-label custom-form-label">PCR Airflow:</label>
            <div class="col-auto plus_container_custom" id="togglePCRAirflowButton" >
                <button class=" add-fields-btn">
                    <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
                </button>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control custom-input sm-custom-input" id="pcrAirflowCountInput" placeholder="#input" style="display: none;">
            </div>

            <div class="col-auto d-flex flex-wrap rpm_input_custom" id="pcrAirflowFields">

                {% for pcr_airflow in pcr_airflow_values %}
                    <input type="text" class="form-control custom-input rpm-custom-size me-3 " value="{{pcr_airflow}}">
                {% endfor %}  
            </div>

            {% if airflow_form.pcr_airflow.errors %}
                <div class="text-danger rpm-err-margin">
                    {% for error in airflow_form.pcr_airflow.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Particle Size -->
        <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
            <label for="particle_size" class="col-sm-2 col-form-label custom-form-label">Particle Size:</label>
            <div class="col-auto plus_container_custom" id="toggleParticleSizeButton" >
                <button class=" add-fields-btn">
                    <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
                </button>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control custom-input sm-custom-input" id="particleSizeCountInput" placeholder="#input" style="display: none;">
            </div>

            <div class="col-auto d-flex flex-wrap rpm_input_custom" id="particleSizeFields">

                {% for particle_size in particle_size_values %}
                    <input type="text" class="form-control custom-input rpm-custom-size me-3" value="{{particle_size}}">
                {% endfor %}  
            </div>

            {% if airflow_form.particle_size.errors %}
                <div class="text-danger rpm-err-margin">
                    {% for error in airflow_form.particle_size.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>

    </div>

    
</div>







<!-- Refrigeration Fields-->
<div id="refrigeration-fields" class="fields">

    <!-- Refrigeration Type-->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center dropdown-container" data-dropdown-key="refrigeration_types">
        <label for="refrigeration_type" class="col-sm-2 col-form-label custom-form-label">Refrigeration Type:</label>
        <div class="col-auto">
            <!-- Dropdown for refrigeration type with Bootstrap-Select -->
            <select class="selectpicker" data-style="custom-toggle" id="refrigerationTypeSelect" name="refrigeration_type" data-live-search="true" title="Select Refrigeration Type" data-width="100%" data-size="5">
                <!-- Dynamically populated rpm type options -->
                {% for refrigeration in refrigeration_types %}
                    <option class="custom-dropdown" value="{{ refrigeration }}" {% if refrigeration_form.refrigeration_type.value == refrigeration %}selected{% endif %}>{{ refrigeration }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto plus_container_custom" id="urls" data-add-dropdown-option-url="{% url 'add-dropdown-option' %}" data-csrf="{{ csrf_token }}">
            <button class=" add-option-btn">
                <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
            </button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control new-option-input custom-input" style="display: none;">
        </div>
            <!-- Display validation errors -->
            {% if refrigeration_form.refrigeration_type.errors %}
                <div class="text-danger dropdown-error-custom ">
                    {{ refrigeration_form.refrigeration_type.errors|join:", " }}
                </div>
            {% endif %}
        
    </div>

    <!-- Model -->
    <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
        <label for="refrigeration_model" class="col-sm-2 col-form-label custom-form-label">Model:</label>
        <div class="col-sm-3 ">
            <input type="text" class="form-control custom-input" id="refrigeration_model" name="refrigeration_model" value="{{ refrigeration_form.refrigeration_model.value | default:'' }}">
            {% if refrigeration_form.refrigeration_model.errors %}
                <div class="text-danger">
                    {{refrigeration_form.refrigeration_model.errors|join:", " }}
                </div>
            {% endif %}
        </div>
    </div>

</div>




{% endblock %}