{% extends 'view-page.html' %}
{% load static %}

{% block even_more_custom_css %}
<link rel="stylesheet" href="{% static 'css/add_service_order_custom.css' %}?v={{ timestamp }}">
{% endblock %}

{% block title %}Vitec Admin | Service Order{% endblock %}

{% block breadcrumb %} Service Order {{so_number}} {% endblock %}

{% block page_title %}Service Order {{so_number}} {% endblock %}

{% block add_btn_href %} {% url 'add-instrument-service-order' so_number %} {% endblock %}

{% block add_btn_name %}Add Instrument{% endblock %}

{% block search_placeholder %} Search Instrument ID...{% endblock %}

{% block search_btn_name %}Search ID{% endblock %}


{% block additional-content %}
{% if service_order %}
    <div class="service-order-info">
        <div class="info-item">
            <span class="info-label">Date:</span>
            <span class="info-value">{{service_order.date}}</span>
        </div>
        <div class="separator"></div>
        <div class="info-item">
            <span class="info-label">Institution:</span>
            <span class="info-value">{{service_order.institution}}</span>
        </div>
        <div class="separator"></div>
        <div class="info-item">
            <span class="info-label">Contact:</span>
            <span class="info-value">{{lab_contact}}</span>

        </div>
        <div class="separator"></div>
        <form method="POST" action="{% url 'add-service-order-details' service_order.so_number %}"  class="form" id="serviceOrderDetailsForm">
            {% csrf_token %}
            <div class="info-item">
                <span class="info-label">Department:</span>
                <input type="text" class="form-control so-custom-input" name="department" value="{{ service_order.department|default:'' }}" >
            </div>
            <div class="separator"></div>
            <div class="info-item">
                <span class="info-label">Additional Contact:</span>
                <input type="text" class="form-control so-custom-input" name="additional_contact" value="{{ service_order.additional_contact|default:'' }}" >
            </div>
        </form>
    </div>
{% endif %}


<form method="POST" id="id-form">
    {% csrf_token %}
    <div class="d-flex align-items-center mb-4 search-container p-2">
            <!-- Add Icon -->
            <div class="me-3 ms-2" id="search-addon">
                <svg height="25px" width="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier"> 
                        <g id="Edit / Add_Row"> 
                            <path id="Vector" d="M3 14V15C3 16.1046 3.89543 17 5 17L19 17C20.1046 17 21 16.1046 21 15L21 13C21 11.8954 20.1046 11 19 11H13M10 8H7M7 8H4M7 8V5M7 8V11" stroke="#838383" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> 
                        </g> 
                    </g>
                </svg>
            </div>
            <!-- Input Field -->
            <div class="me-3">
                <input type="text" class="custom-input form-control" name="instrument_id" id="instrument-input" placeholder="Add Instrument ID.." autofocus aria-label="Search" onpaste="handlePaste(event)" onkeydown="submitOnEnter(event)" aria-describedby="search-addon">
            </div>
            <!-- Add Button -->
            <div>
                <button type="submit" class="btn search-btn">Add ID</button>
            </div>
    </div>
</form>

{% endblock %}


{% block header_row %}
<th>ID</th>
<th>TYPE</th>
<th>MAKE</th>
<th>VALUES</th>
<th></th>
{% endblock %}

{% block data_rows %}
{% if is_full %}
    {% for instrument in page_obj %}
        <tr class="{% cycle 'row-light' 'row-dark' %}">
            <td><a href="{% url 'edit-instrument-service-order' service_order.so_number instrument.id %}" class="table-row-link">{{ instrument.id }}</a></td>
            <td id="instrument_type{{ instrument.id }}">{{ instrument.instrument_type }}</td>
            <td>{{ instrument.make }}</td>
            <td>
                {% if instrument.instrument_type != "Pipette" and instrument.instrument_type != "Microscope"%}
                    <button type="button" class="btn open-btn btn-sm " data-bs-toggle="modal"
                            data-bs-target="#valuesModal{{ instrument.id }}">
                        OPEN
                    </button>

                    <!-- Modal for editing measured values -->
                    <div class="modal fade" id="valuesModal{{ instrument.id }}" tabindex="-1" id="valuesModal"
                         aria-labelledby="valuesModalLabel{{ instrument.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="valuesModalLabel{{ instrument.id }}">
                                        Edit Measured Values for {{ instrument.instrument_type }}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form method="POST" action="{% url 'update-instrument-values' instrument.id %}" id="valuesForm">
                                    {% csrf_token %}
                                    <div class="modal-body m-0">
                                        {% if instrument.instrument_type == "RPM" %}
                                            <!-- RPM Test -->
                                            <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                        
                                                <div class="col-auto plus_container_custom mb-2" >
                                                    <label for="rpm_test" class="col-form-label custom-form-label">RPM Test:</label>
                                                    <button type="button" class=" add-fields-btn"  id="toggleRpmButton{{ instrument.id }}">
                                                        <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
                                                    </button>
                                                </div>
                                                <div class="col-auto mb-2">
                                                    <input type="text" class="form-control custom-input sm-custom-input" id="rpmCountInput{{ instrument.id }}" placeholder="#RPM" style="display: none;">
                                                </div>
                                        
                                                <div class="col-auto d-flex flex-wrap rpm_input_custom" id="rpmTestFields{{ instrument.id }}">
                                                                                        
                                                    {% for rpm_test in instrument.rpm_test %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3 rpm-test-fields" value="{{rpm_test}}">
                                                    {% endfor %}    

                                                </div>
                                            </div>

                                            <!-- RPM Actual -->
                                            <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                                <label for="rpm_actual" class="col-sm-3 mb-2 col-form-label custom-form-label">RPM Actual:</label>
                                                <div class="col-auto d-flex flex-wrap rpm_input_custom" id="rpmActualFields{{ instrument.id }}">

                                                    {% for rpm_actual in instrument.rpm_actual %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3 rpm-test-fields" value="{{rpm_actual}}">
                                                    {% endfor %}

                                                </div>
                                            </div>

                                            <!-- Timer Test -->
                                            <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                            
                                                <div class="col-auto plus_container_custom mb-2" >
                                                    <label for="timer_test" class="col-form-label custom-form-label">Timer Test:</label>
                                                    <button type="button" class=" add-fields-btn"  id="toggleTimerButton{{ instrument.id }}">
                                                        <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
                                                    </button>
                                                </div>
                                                <div class="col-auto mb-2">
                                                    <input type="text" class="form-control custom-input sm-custom-input" id="timerCountInput{{ instrument.id }}" placeholder="#times" style="display: none;">
                                                </div>
                                        
                                                <div class="col-auto d-flex flex-wrap rpm_input_custom" id="timerTestFields{{ instrument.id }}">
                                                                                        
                                                    {% for timer_test in instrument.timer_test %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3" value="{{timer_test}}">
                                                    {% endfor %}    

                                                </div>
                                            </div>

                                            <!-- Timer Actual -->
                                            <div class="row mb-2 pb-2 custom-row align-items-center">
                                                <label for="timer_actual" class="col-sm-3 mb-2 col-form-label custom-form-label">Timer Actual:</label>
                                                <div class="col-auto d-flex flex-wrap rpm_input_custom" id="timerActualFields{{ instrument.id }}">

                                                    {% for timer_actual in instrument.timer_actual %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3" value="{{timer_actual}}">
                                                    {% endfor %}

                                                </div>
                                            </div>


                                      

                                        {% elif instrument.instrument_type == "Temperature" %}


                                            <!-- Temperature Test -->
                                            <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                                
                                                <div class="col-auto plus_container_custom mb-2" >
                                                    <label for="temperature_test" class="col-form-label custom-form-label">Temperature Test:</label>
                                                    <button type="button" class=" add-fields-btn"  id="toggleTemperatureButton{{ instrument.id }}">
                                                        <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
                                                    </button>
                                                </div>
                                                <div class="col-auto mb-2">
                                                    <input type="text" class="form-control custom-input sm-custom-input" id="temperatureCountInput{{ instrument.id }}" placeholder="#temp" style="display: none;">
                                                </div>
                                        
                                                <div class="col-auto d-flex flex-wrap rpm_input_custom" id="temperatureTestFields{{ instrument.id }}">
                                                                                        
                                                    {% for temperature_test in instrument.temperature_test %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3" value="{{temperature_test}}">
                                                    {% endfor %}    

                                                </div>
                                            </div>


                                            {% if instrument.temperature_type == "DTH" %}
                                                <!-- Temperature Actual -->
                                                <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                                    <label for="temperature_actual" class="col-auto mb-2 col-form-label custom-form-label">Temperature Actual:</label>
                                                    <div class="col-auto d-flex flex-wrap rpm_input_custom" id="temperatureActualFields{{ instrument.id }}">

                                                        {% for temperature_actual in instrument.temperature_actual %}
                                                            <input type="text" class="form-control custom-input rpm-custom-size me-3" value="{{temperature_actual}}">
                                                        {% endfor %}

                                                    </div>
                                                </div>

                                                <!-- Humidity Test -->
                                                <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                                    <label for="humidity_test" class="col-auto col-form-label custom-form-label">Humidity Test:</label>
                                                    <div class="col-auto ">
                                                        <input type="text" class="form-control custom-input sm-custom-input" id="humidity_test" name="humidity_test" value="{{ instrument.humidity_test| default:'' }}">
                                                    </div>
                                                </div>

                                                <!-- Humidity Actual -->
                                                <div class="row mb-2 pb-2 custom-row align-items-center">
                                                    <label for="humidity_actual" class="col-auto col-form-label custom-form-label">Humidity Actual:</label>
                                                    <div class="col-auto ">
                                                        <input type="text" class="form-control custom-input sm-custom-input" id="humidity_actual" name="humidity_actual" value="{{ instrument.humidity_actual| default:'' }}">
                                                    </div>
                                                </div>
                                            

                                            {% else %}
                                                <!-- Temperature Actual -->
                                                <div class="row mb-2 pb-2 custom-row align-items-center">
                                                    <label for="temperature_actual" class="col-auto mb-2 col-form-label custom-form-label">Temperature Actual:</label>
                                                    <div class="col-auto d-flex flex-wrap rpm_input_custom" id="temperatureActualFields{{ instrument.id }}">

                                                        {% for temperature_actual in instrument.temperature_actual %}
                                                            <input type="text" class="form-control custom-input rpm-custom-size me-3" value="{{temperature_actual}}">
                                                        {% endfor %}

                                                    </div>
                                                </div>
                                            {% endif %}



                                        {% elif instrument.instrument_type == "Timer" %}

                                            <!-- Timer Test -->
                                            <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                                
                                                <div class="col-auto plus_container_custom mb-2" >
                                                    <label for="timer_test" class="col-form-label custom-form-label">Timer Test:</label>
                                                    <button type="button" class=" add-fields-btn"  id="toggleTimerButton{{ instrument.id }}">
                                                        <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
                                                    </button>
                                                </div>
                                                <div class="col-auto mb-2">
                                                    <input type="text" class="form-control custom-input sm-custom-input" id="timerCountInput{{ instrument.id }}" placeholder="#times" style="display: none;">
                                                </div>
                                        
                                                <div class="col-auto d-flex flex-wrap rpm_input_custom" id="timerTestFields{{ instrument.id }}">
                                                                                        
                                                    {% for timer_test in instrument.timer_test %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3" value="{{timer_test}}">
                                                    {% endfor %}    

                                                </div>
                                            </div>

                                            <!-- Timer Actual -->
                                            <div class="row mb-2 pb-2 custom-row align-items-center">
                                                <label for="timer_actual" class="col-sm-3 mb-2 col-form-label custom-form-label">Timer Actual:</label>
                                                <div class="col-auto d-flex flex-wrap rpm_input_custom" id="timerActualFields{{ instrument.id }}">

                                                    {% for timer_actual in instrument.timer_actual %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3" value="{{timer_actual}}">
                                                    {% endfor %}

                                                </div>
                                            </div>


                                        {% elif instrument.instrument_type == "ThermoRPM" %}

                                            <!-- RPM Test -->
                                            <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                            
                                                <div class="col-auto plus_container_custom mb-2" >
                                                    <label for="rpm_test" class="col-form-label custom-form-label">RPM Test:</label>
                                                    <button type="button" class=" add-fields-btn"  id="toggleRpmButton{{ instrument.id }}">
                                                        <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
                                                    </button>
                                                </div>
                                                <div class="col-auto mb-2">
                                                    <input type="text" class="form-control custom-input sm-custom-input" id="rpmCountInput{{ instrument.id }}" placeholder="#RPM" style="display: none;">
                                                </div>
                                        
                                                <div class="col-auto d-flex flex-wrap rpm_input_custom" id="rpmTestFields{{ instrument.id }}">
                                                                                        
                                                    {% for rpm_test in instrument.rpm_test %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3 rpm-test-fields" value="{{rpm_test}}">
                                                    {% endfor %}    

                                                </div>
                                            </div>

                                            <!-- RPM Actual -->
                                            <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                                <label for="rpm_actual" class="col-sm-3 mb-2 col-form-label custom-form-label">RPM Actual:</label>
                                                <div class="col-auto d-flex flex-wrap rpm_input_custom" id="rpmActualFields{{ instrument.id }}">

                                                    {% for rpm_actual in instrument.rpm_actual %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3 rpm-test-fields" value="{{rpm_actual}}">
                                                    {% endfor %}

                                                </div>
                                            </div>

                                            <!-- Temperature Test -->
                                            <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                                
                                                <div class="col-auto plus_container_custom mb-2" >
                                                    <label for="temperature_test" class="col-form-label custom-form-label">Temperature Test:</label>
                                                    <button type="button" class=" add-fields-btn"  id="toggleTemperatureButton{{ instrument.id }}">
                                                        <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
                                                    </button>
                                                </div>
                                                <div class="col-auto mb-2">
                                                    <input type="text" class="form-control custom-input sm-custom-input" id="temperatureCountInput{{ instrument.id }}" placeholder="#temp" style="display: none;">
                                                </div>
                                        
                                                <div class="col-auto d-flex flex-wrap rpm_input_custom" id="temperatureTestFields{{ instrument.id }}">
                                                                                        
                                                    {% for temperature_test in instrument.temperature_test %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3" value="{{temperature_test}}">
                                                    {% endfor %}    

                                                </div>
                                            </div>

                                            <!-- Temperature Actual -->
                                            <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                                <label for="temperature_actual" class="col-auto mb-2 col-form-label custom-form-label">Temperature Actual:</label>
                                                <div class="col-auto d-flex flex-wrap rpm_input_custom" id="temperatureActualFields{{ instrument.id }}">

                                                    {% for temperature_actual in instrument.temperature_actual %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3" value="{{temperature_actual}}">
                                                    {% endfor %}

                                                </div>
                                            </div>


                                            <!-- Timer Test -->
                                            <div class="row mb-4 pb-4 border-bottom custom-row align-items-center">
                                                
                                                <div class="col-auto plus_container_custom mb-2" >
                                                    <label for="timer_test" class="col-form-label custom-form-label">Timer Test:</label>
                                                    <button type="button" class=" add-fields-btn"  id="toggleTimerButton{{ instrument.id }}">
                                                        <img src="{% static 'images/plus_icon.png' %}" alt="Add" width="14" height="14">
                                                    </button>
                                                </div>
                                                <div class="col-auto mb-2">
                                                    <input type="text" class="form-control custom-input sm-custom-input" id="timerCountInput{{ instrument.id }}" placeholder="#times" style="display: none;">
                                                </div>
                                        
                                                <div class="col-auto d-flex flex-wrap rpm_input_custom" id="timerTestFields{{ instrument.id }}">
                                                                                        
                                                    {% for timer_test in instrument.timer_test %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3" value="{{timer_test}}">
                                                    {% endfor %}    

                                                </div>
                                            </div>

                                            <!-- Timer Actual -->
                                            <div class="row mb-2 pb-2 custom-row align-items-center">
                                                <label for="timer_actual" class="col-sm-3 mb-2 col-form-label custom-form-label">Timer Actual:</label>
                                                <div class="col-auto d-flex flex-wrap rpm_input_custom" id="timerActualFields{{ instrument.id }}">

                                                    {% for timer_actual in instrument.timer_actual %}
                                                        <input type="text" class="form-control custom-input rpm-custom-size me-3" value="{{timer_actual}}">
                                                    {% endfor %}

                                                </div>
                                            </div>


                                        {% endif %}

                                        <div class="row mb-2 pb-2 custom-row align-items-center" id="formErrors{{ instrument.id }}" style="display: none;">
                                        </div> 

                                    </div>
                                    <div class="modal-footer m-0 d-flex justify-content-between">
                                        <button type="submit" class="btn save-btn">Save</button>
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %} 
                    <span  class="dash-custom">-</span>
                {% endif %}
            </td>
            <td>
                <button type="button" class="btn del-btn " data-bs-toggle="modal" data-bs-target="#deleteModal{{ instrument.id}}">
                    <svg height="17px" width="17px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000" stroke="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier"> 
                            <g> 
                                <path class="st0" d="M99.381,465.993c1.472,25.31,23.409,46.007,48.75,46.007h57.158c25.342,0,66.821,0,92.162,0h57.158 c25.342,0,47.285-20.697,48.758-46.007l16.785-289.586H82.589L99.381,465.993z"></path> 
                                <path class="st0" d="M427.011,107.022c-4.653-3.132-45.696-27.507-110.772-46.03c0.062-0.304,0.125-0.585,0.188-0.881 c5.189-27.507-12.897-54.017-40.396-59.222c-27.516-5.19-54.026,12.88-59.231,40.396c-0.054,0.28-0.094,0.576-0.14,0.88 c-67.351-6.506-114.487,1.192-119.95,2.408c-9.53,2.119-11.751,6.92-13.177,14.478c-0.958,5.05-6.202,32.791-6.202,32.791 l350.484,66.252c0,0,5.245-27.741,6.204-32.79C435.441,117.745,435.129,112.47,427.011,107.022z M288.303,53.816 c-6.951-1.59-14.08-3.102-21.437-4.489c-7.348-1.403-14.54-2.587-21.593-3.631c2.688-11.361,13.832-18.718,25.411-16.543 C282.264,31.357,289.947,42.267,288.303,53.816z"></path> 
                            </g> 
                        </g>
                    </svg>
                </button>
                 <!-- Modal -->
                <div class="modal fade" id="deleteModal{{ instrument.id}}" tabindex="-1" aria-labelledby="deleteModalLabel{{ instrument.id}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header ">
                                <h1 class="modal-title fs-5 mx-auto text-center" id="exampleModalLabel">Delete Instrument from Service Order</h1>
                                <button type="button" class="btn-close position-absolute end-0 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body ">
                                <div class="text-center del-modal-body">
                                    Are you sure you want to delete the instrument with ID: "<span class="modal-institution-name">{{ instrument.id}}</span>" from this service order?
                                </div>
                            </div>

                            <div class="modal-footer justify-content-center">
                                <form method="POST" id="delete-form" action="{% url 'delete-instrument-service-order' service_order.so_number instrument.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn confirm-del-btn me-4" data-bs-dismiss="modal" id="confirm-delete">Yes</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>

                        </div>
                    </div>
                </div>
            </td>

        </tr>
    {% endfor %}
{% else %}
    <tr class="no-results-row">
        <td colspan="5" class="text-center">No data found</td>
    </tr>
{% endif %}



{% endblock %}



{% block buttons %}

<!-- Buttons -->
<div class="mt-4 save-button-container pb-3 pt-3 mb-4 d-flex">
    <button type="submit" class="btn save-btn" name="save" form="serviceOrderDetailsForm">Save</button>
    <button type="submit" class="btn save-add-btn" name="save_and_continue" form="serviceOrderDetailsForm">Save and Continue</button>
    {% if service_order %}
    <a href="{% url 'download-service-order' service_order.so_number %}" class="btn btn-secondary save-add-btn">Download PDF</a>
    {% endif %}
</div>


<script src="{% static 'bootstrap/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/customAddServiceOrder.js' %}"></script>
{% endblock %}