.custom-form-label {
    color: #6D6666;
    font-weight: bold;
}

.add-fields-btn {
    border: none;
    background-color: transparent;
}

.custom-input {
    height: 30px;  
    border-color: #cccccc;
}

.sm-custom-input {
    width: 50%;
    text-align: center;
}

.so-custom-input {
    width: 50%;
    height: 30px;
    border-color: #cccccc;
    margin-right: -65px;
    margin-left: 4px;
    /* padding: 0; */
}

.rpm-custom-size {
    width: 100px;
    text-align: center;
}

.rpm_input_custom {
    row-gap: 1rem;
}

.save-btn {
    background-color: #234759;
    color: #FFFFFF;    
}

.save-btn:hover {
    background-color: #3D6A80;
    color: #FFFFFF;
}

.open-btn {
    background-color: #3D6A80;
    color: #FFFFFF;
    font-size: 0.875rem;
    width: 70px;
    padding: 0%;
}

.open-btn:hover {
    background-color: #234759;
    color: #FFFFFF;
}

  /* Remove padding and margins for the button and SVG */
.del-btn {
    padding: 0;
    margin: 0;
    border: none; 
  }

.del-btn svg {
    display: block; 
    transition: fill 0.3s ease; /* Smooth transition for color change */
    fill: #8f8f8f;
  }

  /* Change the fill color on hover */
.del-btn:hover svg .st0 {
    fill: #666666; /* Change to red on hover */
  }


.service-order-info {
    display: flex;
    align-items: center; /* Aligns items vertically centered */
    justify-content: center; /* Centers the content horizontally */
    text-align: center;
    font-family: Arial, sans-serif; /* Optional: Set a clean font */
    margin: 20px 0; /* Add spacing above and below */
}

.info-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0 10px; /* Spacing between the separator and the content */
}

.separator {
    width: 2px; /* Width of the vertical line */
    background-color: #ccc; /* Color of the separator */
    height: 2em; /* Set a fixed height relative to text size */
    margin: 0 10px; /* Add spacing between separators and text */
}

.info-label {
    font-weight: bold;
    color: #6D6666; /* Optional: Darker color for the label */
    margin-right: 5px;
}

.info-value {
    font-weight: bold;
    color: #6D6666; /* Optional: Softer color for the value */
    margin-top: 4px; /* Space between label and value */
}

.confirm-del-btn {
    background-color: #ba2021;
    color: white;
    margin-right: 25px;
}

.confirm-del-btn:hover {
    background-color: #931919;
    color: white;
}

.confirm-del-btn:active {
    background-color: #931919 !important;
    color: white !important;
    box-shadow: none;
}

.modal-institution-name {
    font-weight: bold;
}

.del-modal-body {
    color: black;
}

.save-button-container {
    background-color: #ECECEC; 
    margin-left: 25px;
    margin-right: 25px;

}


.save-btn {
    background-color: #234759;
    color: #FFFFFF;
    margin-left: 25px;
    
}

.save-btn:hover {
    background-color: #3D6A80;
    color: #FFFFFF;
}



.save-add-btn {
    background-color: #3D6A80;
    color: #FFFFFF;
    margin-left: 25px;
    
}

.save-add-btn:hover {
    background-color: #234759;
    color: #FFFFFF;
}

.form {
    margin: 0;
    padding: 0;
    display: contents;
}