/* Styling for the title */
.admin-title {
    background-color: #407189;
    color: #ffffff;
    font-weight: 350;
}


/* Text color and padding adjustments */
.custom-item {
    font-size: 1rem;
    position: relative;

    display: flex;
    align-items: center;
}

/* Alternate background color for list items */
.custom-item:nth-child(even) {
    background-color: #FFFFFF;
}

.custom-item:nth-child(odd) {
    background-color: #F9F9F9;
}

ul.list-group > li.list-group-item:last-child {
    border-bottom: 1px solid #dee2e6;
}


/* Style for the action icons and text alignment */

/* Icon link style */
.icon-link {
    margin-left: 20px;
    text-decoration: none;
    float: right;
}

.icon-text {
    color: #407189;
    text-decoration: none;

}

/* Hover effect for the icon links */
.icon-text:hover {
    color: #214C61;
}

.icon-link, .icon-link-as-anchor {
    display: inline-flex; /* Ensures all icons and text stay in a line */
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.icon-link-as-anchor {
 
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit; /* Match button's font with the rest */
}

.add-dist {
    padding-left: 5px;
}

.right-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    /* gap: 10px; Add spacing between "+ Add" and "View/Edit" */
    margin-left: auto; /* Push this section to the far right */
}