{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitec Admin | Log In</title>

    <!-- Link to Bootstrap (optional, you can use your own custom CSS later) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">



    <!-- Link to your custom CSS -->
    <link href="{% static 'css/login_custom.css' %}?v={{ timestamp }}" rel="stylesheet">
</head>
<body>
    <div class="overlay"></div>

    <div class="login-container">
        <div class="login-header">
            <img src="/static/images/logo.png" alt="Logo" class="login-logo">
            <span class="login-title">Vitec Calibrations</span>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert mt-3 custom-alert
                    {% if message.tags == 'success' %} alert-success 
                    {% elif message.tags == 'error' %} alert-danger 
                    {% elif message.tags == 'warning' %} alert-warning 
                    {% else %} alert-info {% endif %}" role="alert">

                    <!-- Insert corresponding SVG icon based on message type -->
                    {% if message.tags == 'success' %}
                        <img src="{% static 'images/checked.png' %}" alt="Success" class="me-2" width="17" height="17">
                    {% elif message.tags == 'error' %}
                        <img src="{% static 'images/remove.png' %}" alt="Success" class="me-2" width="17" height="17">
                    {% elif message.tags == 'warning' %}
                        <img src="{% static 'images/caution-sign.png' %}" alt="Success" class="me-2" width="17" height="17">
                    {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}


        <div class="login-title-section">
            <h2 class="login-title-text">Log In</h2>
        </div>
        
        <form id="loginForm" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3 position-relative">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control"  id="password" name="password" required>
                <span id="togglePasswordText" class="text-muted">Show</span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Log In</button>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'js/customLogin.js' %}"></script>
</body>
</html>
